.radio {
  align-items: center;
  display: inline-flex;
  position: relative;
}

.radio .radio-button {
  background-color: #ffffff;
  position: relative;
}

.radio .active {
  background-color: #ffffff;
  border-radius: 7px;
  height: 14px;
  left: -1px;
  position: relative;
  top: -1px;
}

.radio .pay-pal {
  color: #000000;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.radio.large {
  gap: 12px;
  padding: 2px 0px;
}

.radio.small {
  gap: 8px;
}

.radio .radio-false {
  border: 1px solid;
}

.radio .size-large {
  border-radius: 9px;
  height: 18px;
  width: 18px;
}

.radio .size-small {
  border: 1px solid;
  border-color: var(--darkdark-1);
  border-radius: 7px;
  height: 14px;
  width: 14px;
}

.radio .radio-true.size-large {
  border: 6px solid;
  border-color: var(--blueblue-2);
}

.radio .radio-false.size-large {
  border-color: var(--darkdark-2);
}

.radio .radio-button.radio-true .active {
  border: 5px solid;
  border-color: var(--blueblue-2);
}

.radio .radio-button.radio-false .active {
  border: 1px solid;
  border-color: var(--darkdark-2);
}

.radio.large .pay-pal {
  font-family: var(--regular-14px-font-family);
  font-size: var(--regular-14px-font-size);
  font-style: var(--regular-14px-font-style);
  font-weight: var(--regular-14px-font-weight);
  letter-spacing: var(--regular-14px-letter-spacing);
  line-height: var(--regular-14px-line-height);
}

.radio.small .pay-pal {
  font-family: var(--semibold-16px-font-family);
  font-size: var(--semibold-16px-font-size);
  font-style: var(--semibold-16px-font-style);
  font-weight: var(--semibold-16px-font-weight);
  letter-spacing: var(--semibold-16px-letter-spacing);
  line-height: var(--semibold-16px-line-height);
}
