:root {
  --blueblue-1: rgba(47, 128, 237, 1);
  --blueblue-2: rgba(22, 96, 207, 1);
  --blueblue-3: rgba(40, 53, 106, 1);
  --bold-14px-font-family: "OpenSans-Bold", Helvetica;
  --bold-14px-font-size: 14px;
  --bold-14px-font-style: normal;
  --bold-14px-font-weight: 700;
  --bold-14px-letter-spacing: 0px;
  --bold-14px-line-height: 20px;
  --bold-16px-font-family: "OpenSans-Bold", Helvetica;
  --bold-16px-font-size: 16px;
  --bold-16px-font-style: normal;
  --bold-16px-font-weight: 700;
  --bold-16px-letter-spacing: 0px;
  --bold-16px-line-height: 20px;
  --bold-24px-font-family: "OpenSans-Bold", Helvetica;
  --bold-24px-font-size: 24px;
  --bold-24px-font-style: normal;
  --bold-24px-font-weight: 700;
  --bold-24px-letter-spacing: 0px;
  --bold-24px-line-height: 29px;
  --button-shadow-1: 0px 4px 4px 0px rgba(14, 53, 191, 0.25);
  --darkdark-1: rgba(178, 188, 202, 1);
  --darkdark-2: rgba(130, 130, 130, 1);
  --darkdark-3: rgba(79, 79, 79, 1);
  --greygrey-1: rgba(246, 246, 246, 1);
  --greygrey-2: rgba(232, 239, 250, 1);
  --greygrey-3: rgba(224, 224, 224, 1);
  --orangeorange-1: rgba(249, 160, 0, 1);
  --orangeorange-2: rgba(253, 96, 32, 1);
  --purple-1: rgba(108, 107, 189, 1);
  --red-1: rgba(237, 0, 6, 1);
  --regular-10px-font-family: "OpenSans-Regular", Helvetica;
  --regular-10px-font-size: 10px;
  --regular-10px-font-style: normal;
  --regular-10px-font-weight: 400;
  --regular-10px-letter-spacing: 0px;
  --regular-10px-line-height: 139.9999976158142%;
  --regular-12px-font-family: "OpenSans-Regular", Helvetica;
  --regular-12px-font-size: 12px;
  --regular-12px-font-style: normal;
  --regular-12px-font-weight: 400;
  --regular-12px-letter-spacing: 0px;
  --regular-12px-line-height: 20px;
  --regular-13px-font-family: "OpenSans-Regular", Helvetica;
  --regular-13px-font-size: 13px;
  --regular-13px-font-style: normal;
  --regular-13px-font-weight: 400;
  --regular-13px-letter-spacing: 0px;
  --regular-13px-line-height: 20px;
  --regular-14px-font-family: "OpenSans-Regular", Helvetica;
  --regular-14px-font-size: 14px;
  --regular-14px-font-style: normal;
  --regular-14px-font-weight: 400;
  --regular-14px-letter-spacing: 0px;
  --regular-14px-line-height: 20px;
  --regular-15px-font-family: "OpenSans-Regular", Helvetica;
  --regular-15px-font-size: 15px;
  --regular-15px-font-style: normal;
  --regular-15px-font-weight: 400;
  --regular-15px-letter-spacing: 0px;
  --regular-15px-line-height: 20px;
  --semibold-13px-font-family: "OpenSans-Semibold", Helvetica;
  --semibold-13px-font-size: 13px;
  --semibold-13px-font-style: normal;
  --semibold-13px-font-weight: 400;
  --semibold-13px-letter-spacing: 0px;
  --semibold-13px-line-height: 20px;
  --semibold-15px-font-family: "OpenSans-SemiBold", Helvetica;
  --semibold-15px-font-size: 15px;
  --semibold-15px-font-style: normal;
  --semibold-15px-font-weight: 600;
  --semibold-15px-letter-spacing: 0px;
  --semibold-15px-line-height: 20px;
  --semibold-16px-font-family: "OpenSans-SemiBold", Helvetica;
  --semibold-16px-font-size: 16px;
  --semibold-16px-font-style: normal;
  --semibold-16px-font-weight: 600;
  --semibold-16px-letter-spacing: 0px;
  --semibold-16px-line-height: 20px;
  --semibold-18px-font-family: "OpenSans-Semibold", Helvetica;
  --semibold-18px-font-size: 18px;
  --semibold-18px-font-style: normal;
  --semibold-18px-font-weight: 400;
  --semibold-18px-letter-spacing: 0px;
  --semibold-18px-line-height: 29px;
  --semibold-20px-font-family: "OpenSans-Semibold", Helvetica;
  --semibold-20px-font-size: 20px;
  --semibold-20px-font-style: normal;
  --semibold-20px-font-weight: 400;
  --semibold-20px-letter-spacing: 0px;
  --semibold-20px-line-height: 28px;
  --shadow-1: 0px 2px 6px 0px rgba(0, 0, 0, 0.14);
  --yellow-1: rgba(255, 194, 14, 1);
}
